@import './Characteristic'
@import './MoveRate'

.characteristics
  width  28.2rem
  padding 0.25rem 0.5rem
  > .title
    display block
    font-size 2rem
  > .roll
    display block
  > .characteristic
  > .move-rate
    //display inline-block
    display inline
    float left
    margin 0.25rem 0.5rem
