@import 'nib'

.characteristic
  position relative
  width  8.0rem
  height 4.2rem
  border 0.2rem solid #666
  border-top-right-radius 1rem
  > .title
    font-size 0.5rem
  > .regular
  > .hard
  > .extreme
    position absolute
    text-align center
  > .regular
    top  0
    left 0
    width  4.2rem
    height 4.2rem
    border-right 0.2rem solid #666
    line-height 4rem
    font-size 2rem
  > .hard
    top  0
    left 4.4rem
    width  3.6rem
    height 2rem
    border-bottom 0.2rem solid #666
    line-height 2rem
    font-size 1rem
  > .extreme
    top  2.2rem
    left 4.4rem
    width  3.6rem
    height 2rem
    line-height 2rem
    font-size 1rem

